/*
 * Copyright (c) 2026 Alan Mimms / ESPirate
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
    };
};

/* 8MB Embedded PSRAM */
&psram0 {
    status = "okay";
    size = <DT_SIZE_M(8)>;
};
