/*
 * Copyright (c) 2026 Alan Mimms / ESPirate
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
    };

    wifi_ap: wifi_ap {
        compatible = "espressif,esp32-wifi";
        status = "okay";
    };
};

/* 8MB Embedded PSRAM */
&psram0 {
    status = "okay";
    size = <DT_SIZE_M(8)>;
};

/* ESP32-S3 Wi-Fi Controller */
&wifi {
    status = "okay";
};
